.slider h3, .slider h5, .clients {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
} 

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}

.clients img {
    max-width: 180px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8));
}

section, footer {
    padding: 20px 0;
}

.nav-wrapper a {
    text-decoration: none;
}



